* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    display: grid; 
    height: 100vh;
    grid-template-rows: 100px 1fr;
}

header {
    background-color: #3498db;
    display: flex;
    align-items: center;
    
}

main {
    background-color: #87c0ea;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

h1 {
    font-size: 4rem;
    font-family: serif;

}

ul {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

a:hover {
    color: white;
    text-decoration: underline;
}

#rubrik {
    text-decoration: none;
    color: black;
    font-size: 60px;
    font-weight: bold;
}

