* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gridwrapper_1 {
display: grid;
height: 100vh;
grid-template-rows: 100px 0.5fr 4fr 100px;
grid-template-columns: 1fr 2fr 1fr;
grid-template-areas:
"hea hea hea"
"se1 se1 se1"
"se3 se2 se4"
"foo foo foo";
}

#gridwrapper_2 {
    display: grid; 
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 100px;
    gap: 20px 20px;
    grid-template-areas:
    "hea hea hea"
    "se5 se6 se7"
    "se8 se9 se10"
    "foo foo foo";
}

#gridwrapper_3 {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 4fr 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "hea hea hea"
    "se11 se12 se13"
    "foo foo foo";
    }

#section_1 {
    background-color: #87c0ea;
    grid-area: se1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_2 {
    background-color: red;
    grid-area: se2;
}

#section_3 {
    background-color: #87c0ea;
    grid-area: se3;
}

#section_4 {
    background-color: #87c0ea;
    grid-area: se4;
}

#section_5 {
    background-color: antiquewhite;
    grid-area: se5;
    border-radius: 20px;
    margin-left: 15px;
}

#section_6 {
    background-color: aqua;
    grid-area: se6;
    border-radius: 20px;
}

#section_7 {
    background-color: rgb(36, 84, 84);  
    grid-area: se7;
    border-radius: 20px;
    margin-right: 15px;

}

#section_8 {
    background-color: rgb(8, 0, 255);   
    grid-area: se8;
    border-radius: 20px;
    margin-left: 15px;

}

#section_9 {
    background-color: rgb(85, 255, 0);  
    grid-area: se9;
    border-radius: 20px
}

#section_10 {
    background-color: rgb(255, 0, 0);  
    grid-area: se10;
    border-radius: 20px;    
    margin-right: 15px;

}

#section_11 {
    background-color: rgb(255, 0, 0);  
    grid-area: se11;
    border-radius: 20px;    
    margin: 15px;
    margin-right: 0px;
}

#section_12 {
    background-color: rgb(208, 0, 255);  
    grid-area: se12;
    border-radius: 20px;   
    margin: 15px;
}

#section_13 {
    background-color: rgb(0, 255, 8);  
    grid-area: se13;
    border-radius: 15px;    
    margin: 15px;
    margin-left: 0px;
}

footer {
    background-color: #3498db;
    grid-area: foo;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #3498db;
    display: flex;
    grid-area: hea;
}

h1 {
    font-size: 4rem;
    font-family: serif;
}

ul {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

a:hover {
    color: white;
    text-decoration: underline;
}

#rubrik {
    text-decoration: none;
    color: black;
    font-size: 60px;
    font-weight: bold;
}